/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: sans-serif;
   margin: 0;
 }

 header {
   display: flex;
   justify-content: space-between;
   background-color: rgb(31, 49, 147);
   padding: 10px;
   color: white;
 }

 header ul {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 header ul li {
   list-style: none;
   margin: 10px;
 }

 input[type=submit] {
   -webkit-appearance: none;
   background-color: white;
   color:  rgb(31, 49, 147);
   font-size: 12px;
   font-weight: bold;
   border-radius: 4px;
   border-color:rgb(31, 49, 147);
 }

 .greeting {
   text-transform: uppercase;
   font-weight: bold;
 }

 .main-content {
   padding: 10px 20px;
 }

form {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: auto;
}

form input[type=text] {
  width: 100%;
}

form textarea {
  width: 100%;
  resize: none;
}

.just_button {
  width: auto;
}