/* PHASE 2: Notifications */

.badge {
  display: inline-block;
  background-color: black;
  padding: 2px 6px;
  border-radius: 100%;
  font-size: 14px;
  font-weight: bold;
}

.dropdown-parent {
  position: relative

}

.dropdown {
  display: none;
}

.dropdown-parent:hover .dropdown {
  display: block;
  position: absolute;
  background-color: honeydew;
  color: black;
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown li {
  padding: 10px 15px;
  border-bottom: 1px solid lightgray;
}

.dropdown li:last-of-type {
  border-bottom: none;
}